* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0d0c1f;
}

.container {
    width: 300px;
    height: 300px;
    background-color: #fff;
    margin: 25vh auto;
    padding: 10px;
    position: relative;
}

input {
    width: 20px;
    padding: 5px;
    position: absolute;
}

#left-top { 
    left: 10px;
    top: 10px;
}

#right-top { 
    right: 10px;
    top: 10px;
}

#right-bottom { 
    right: 10px;
    bottom: 10px;
}

#left-bottom { 
    left: 10px;
    bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}